<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Index</title>
    {{>header}}
      <link rel="stylesheet" href="css/style.css">
  </head>
  <body>

      <!-- Bootstrap 4 Navbar  -->
      {{>navbar}}

      <div class="container-fluid main_header">
        <div class="row">
          <div class="col-md-10 col-12 mx-auto">
            <div class="row">
              <div class="col-md-6 col-12 main_header_left">
                <p>Welcome to The Weather App</p>
                <h1>Get The Latest <span>Weather</span> Info of you City</h1>
                <a href="weather"><button>check now</button></a>
              </div>
              <div class="col-md-6 col-12  main_header_left">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="https://cdni.iconscout.com/illustration/premium/thumb/cloud-app-4472583-3742528.png?f=webp" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="https://cdni.iconscout.com/illustration/premium/thumb/weather-app-4488087-3738479.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="https://cdni.iconscout.com/illustration/premium/thumb/man-streaming-live-video-using-camera-4488066-3738458.png?f=webp" class="d-block w-100" alt="...">
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- footer Code  -->
      {{>footer}}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>